<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniPlayer.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MiniPlayer.Miniplayer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MiniPlayer.Properties>
            <setting name="CurrentUri" serializeAs="String">
                <value>https://www.pandora.com/</value>
            </setting>
            <setting name="Setting" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>https://www.pandora.com/</string>
                        <string>https://music.amazon.com/</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>148, 100</value>
            </setting>
        </MiniPlayer.Properties>
        <MiniPlayer.Miniplayer>
            <setting name="CurrentUri" serializeAs="String">
                <value>https://www.pandora.com/</value>
            </setting>
            <setting name="Setting" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>https://www.pandora.com/</string>
                        <string>https://music.amazon.com/</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>148, 100</value>
            </setting>
        </MiniPlayer.Miniplayer>
    </userSettings>
</configuration>